body {
    display: flex;
    justify-content: center;
    background: #000000;
    margin: 0px;
    padding: 0px;
}

.main {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    width: 100%;
}

.Logo {
    background-color: rgb(212, 212, 212);
    padding: 20px;
    margin-top: 10px;
    text-align: left;
    display: block;
    flex: 1.2;
}

.Nav {
    background-color: rgb(143, 143, 143);
    padding: 20px;
    margin-top: 10px;
    text-align: left;
    display: block;
    flex: 1;
}

.Header {
    background-color: rgb(111, 111, 111);
    text-align: center;
    margin-bottom: 20px;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Intro {
    background-color: rgb(111, 111, 111);
    text-align: center;
    margin-bottom: 20px;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Box {
    background-color: rgb(111, 111, 111);
    text-align: center;
    height: 20rem;
    text-align: left;
    display: block;
    flex: 1;
}

.Footer {
    padding: 10px;
    background-color: rgb(233, 233, 233);
    margin-bottom: 20px;
    text-align: center;
}